

<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Skandinavijos kurjeris</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                <li><a class="scroll" href="#apiemus">APIE MUS</a></li>
                <li><a class="scroll" href="#kainos">KAINININKAS</a></li>
                <li><a class="scroll" href="#kontaktai">KONTAKTAI</a></li>
                <li><a class="scroll" href="#video">VIDEO</a></li>
                <li><a class="scroll" href="#galerija">GALERIJA</a></li>
                <li><a class="scroll" href="#zemelapis">ŽEMĖLAPIS</a></li>
                <li><a class="scroll" href="#komentarai">KOMENTARAI</a></li>
            </ul>
        </nav>
    </div>
</header>